{% extends 'base.html' %}

{% block title %}
    Article list
{% endblock %}

{% block body %}
    <h1>Articles</h1>
    <div>
        <ul>
            {% for article_id in articles %}
                <li>
                    <a href="{{ url_for('articles_app.details', article_id=article_id) }}">
                        {{ articles[article_id] }}
                    </a>
                </li>                
            {% endfor %}
        </ul>
        <hr>
        <a href="{{ url_for('articles_app.create') }}">Create new</a>
    </div>    

{% endblock %}